# ====== 服务端 ======
NODE_ENV=development
PORT=7090
HOST=0.0.0.0

# JWT
JWT_SECRET=iecsp-please-change-in-production
JWT_TTL=7d

# 数据库
DATABASE_URL=file:./prisma/dev.db

# InfluxDB
INFLUX_URL=http://localhost:8086
INFLUX_TOKEN=iecsp-token-2026
INFLUX_ORG=iecsp
INFLUX_BUCKET_REALTIME=energy_stream
INFLUX_BUCKET_AGG=energy_agg

# MQTT
MQTT_URL=mqtt://localhost:1883
MQTT_TOPIC_PREFIX=iecsp/meter

# 日志
LOG_LEVEL=info
